/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: "Poppins";
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 188px;
  padding-right: 212px;
}

.main_header__container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
}

.img__header {
  width: 15px;
  height: 15px;
}

.main_header__p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8b8e99;
}

.main_header__p:hover {
  color: white;
}

.main_header__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #8b8e99;
}

.main_header__item:hover {
  margin-top: -10px;
  color: white;
}

.main_header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
}

.main-header__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img1 {
  width: 20px;
  height: 23px;
}

.img2 {
  width: 22px;
  height: 23px;
}

.img3 {
  width: 23px;
  height: 27px;
}

.img {
  margin-left: 16px;
}

.home__title {
  max-width: 457px;
}

.home__text {
  max-width: 456px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  color: #8B8E99;
}

#home {
  padding-bottom: 73px;
}

.home__container {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__content {
  padding-top: 153px;
  position: relative;
}

.home__title {
  max-width: 457px;
  font-weight: 700;
  font-size: 64px;
  line-height: 125.5%;
  color: #fff;
  margin-bottom: 10px;
}

.home__text {
  max-width: 456px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  color: #8b8e99;
  margin-bottom: 47px;
}

.home__input {
  padding-right: 86px;
  padding-left: 56px;
  padding-top: 19px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  color: rgba(139, 142, 153, 0.7);
  background: #ffffff;
  border-radius: 15px;
}

.home__form {
  padding-bottom: 100px;
}

.input__icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 530px;
  left: 19px;
  color: #ffffff;
}

.home__btn {
  padding: 10px 6px 14px 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 125.5%;
  background-color: #3858D6;
  color: #fff;
  border-radius: 9px;
  cursor: pointer;
  position: absolute;
  left: 250px;
  top: 517px;
}

.home__btn:hover {
  background-color: transparent;
  color: #3858D6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.home__img {
  max-width: 461px;
}

#brands {
  padding-bottom: 135px;
}

.brands__content {
  padding: 46px 29px 44px 41px;
}

.brands__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__img {
  max-width: 85px;
}

.brands__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #1e1d1d;
}

.brand__item {
  margin-left: 26px;
}

.brands__text {
  max-width: 173px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8b8e99;
  margin-top: 9px;
}

.brands__item {
  max-width: 354px;
  background: #f6f6f6;
  border-radius: 22px;
}

.brands__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

#Recent_Products {
  padding-bottom: 135px;
}

.Recent_Products__sentence {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #3858D6;
  text-align: center;
}

.Recent_Products__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #1E1D1D;
  margin-top: 0;
  margin-bottom: 65px;
}

.Recent_Products__item {
  max-width: 334px;
  overflow: hidden;
}

.Recent_Products__word {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #1E1D1D;
}

.img {
  padding: 29px 43px 27px 41px;
}

.Recent_Products__word {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 11px;
  margin-bottom: 8px;
}

.Recent_Products__img {
  background: #F6F6F6;
}

.Recent_Products__img2 {
  max-width: 115px;
  margin-left: auto;
  margin-right: auto;
}

.Recent_Products__cost {
  font-weight: 500;
  font-size: 20px;
  line-height: 120.5%;
  color: #8B8E99;
  mix-blend-mode: normal;
}

.Recent_Products__cost2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120.5%;
  color: #000000;
}

.recent_product__cont {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-align: center;
  margin: 0 auto;
  margin-left: 65px;
  margin-top: 11px;
}

.cost3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 120.5%;
  color: #000000;
  margin-top: 11px;
}

.Recent_Products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 64px;
  -webkit-column-gap: 49px;
     -moz-column-gap: 49px;
          column-gap: 49px;
}

.Recent_Products__btn {
  display: inline-block;
  padding: 9px 15px 10px 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background: #3858D6;
  border-radius: 15px;
  margin-top: 69px;
  margin-right: 430px;
  margin-left: 100px;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-left: 300px;
}

.Recent_Products__img {
  position: relative;
}

.img3 {
  position: absolute;
  top: 18px;
  left: 275px;
}

.Recent_Products__item:hover .img3 {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.Recent_Products__item:hover .Recent_Products__img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.contact__img5 {
  max-width: 134px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
}

#contact {
  padding-bottom: 135px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3858d6;
}

.contact__text1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3858D6;
}

.contact__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-top: 6px;
  text-align: center;
  color: #1e1d1d;
  margin-bottom: 55px;
}

.contact__content1 {
  max-width: 526px;
  margin-left: 47px;
}

.contact__img {
  max-width: 162px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  margin-right: 28px;
}

.img__yulduz {
  max-width: 140px;
}

.contact__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #1e1d1d;
}

.contact__text {
  max-width: 255px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8b8e99;
  padding-right: 42px;
  margin-top: 9px;
  margin-bottom: 10px;
}

.contact__img2 {
  max-width: 140px;
}

.contact__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__content1 {
  background-color: #F6F6F6;
  border-radius: 15px;
}

#about {
  padding-bottom: 91px;
}

.about__container {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__input {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 140px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  color: rgba(139, 142, 153, 0.7);
  background: #FFFFFF;
  border-radius: 15px;
}

.about__btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 125.5%;
  color: #FFFFFF;
  background: #3858D6;
  border-radius: 9px;
  padding: 12px 4px;
  margin-left: -100px;
}

.about__content {
  padding-top: 107px;
  padding-left: 97px;
  padding-bottom: 117px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #1E1D1D;
  margin-bottom: 12px;
}

.about__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8B8E99;
  margin-bottom: 12px;
}

.about__img {
  max-width: 272px;
  margin-left: 74px;
}

#main_footer {
  background-color: black;
}

.main_footer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125.5%;
  text-align: center;
  color: #FFFFFF;
  padding-top: 23px;
  padding-bottom: 23px;
}/*# sourceMappingURL=main.css.map */