#main_footer{
  background-color: black;
}

.main_footer__text{
  font-weight: 500;
font-size: 16px;
line-height: 125.5%;
text-align: center;
color: #FFFFFF;
padding-top: 23px;
padding-bottom: 23px;
}